KNN-shapeClassification/dataset
.idea/
KNNJupyter.py
shapeClassification/SVM/dataset
shapeClassification/KNN/dataset
crackClassification/KNN/dataset
crackClassification/SVM/dataset
1.shapeClassification/KNN/dataset
1.shapeClassification/SVM/dataset
1.shapeClassification/KNN/log
2.isCrackClassification/KNN/dataset
2.isCrackClassification/SVM/dataset
3.crackLengthClassification/KNN/dataset
3.crackLengthClassification/SVM/dataset
1.shapeClassification/SVM/SVM_SVC/log
3.crackLengthClassification/KNN/KNN_auto/log
4.crackShapeClassification/KNN/dataset
1.shapeClassification/KNN/KNN_auto/log
6.crackLengthAndShapeClassification/KNN/dataset
2.isCrackClassification/KNN/KNN_auto/train1.txt
6.crackLengthAndShapeClassification/KNN/KNN_auto/log
1.shapeClassification/KNN/KNN_auto/KNN_shape_train3_check.ipynb
1.shapeClassification/SVM/SVM_SVC/KNN_shape_train3_check.ipynb
6.crackLengthAndShapeClassification/SVM/SVM_SVC/log
7.onlyShapeClassification/KNN/dataset
2.isCrackClassification/KNN/KNN_auto/log
2.isCrackClassification/SVM/SVM_SVC/log
7.onlyShapeClassification/KNN/KNN_auto/log
7.onlyShapeClassification/SVM/SVM_SVC/log
featureExtract/data
featureExtract/learn/pyAudioAnalysis/pyAudioAnalysis-master.zip
learn/Pytorch-heart/dataset
learn/Pytorch-signal/dataset
7.onlyShapeClassification/CNN/dataset
1.shapeClassification/KNN/KNN_auto/log
1.shapeClassification/SVM/SVM_SVC/log
2.isCrackClassification/KNN/KNN_auto/log
2.isCrackClassification/SVM/SVM_SVC/log
3.crackLengthClassification/KNN/KNN_auto/log
6.crackLengthAndShapeClassification/KNN/KNN_auto/log
6.crackLengthAndShapeClassification/SVM/SVM_SVC/log
7.onlyShapeClassification/LTSM/dataset
learn
SUM