KNN-shapeClassification/dataset
.idea/
KNNJupyter.py
shapeClassification/SVM/dataset
shapeClassification/KNN/dataset
crackClassification/KNN/dataset
crackClassification/SVM/dataset
1.shapeClassification/KNN/dataset
1.shapeClassification/SVM/dataset
1.shapeClassification/KNN/log