KNN-shapeClassification/dataset
.idea/
KNNJupyter.py
shapeClassification/SVM/dataset
shapeClassification/KNN/dataset
crackClassification/KNN/dataset
crackClassification/SVM/dataset
1.shapeClassification/KNN/dataset
1.shapeClassification/SVM/dataset
1.shapeClassification/KNN/log
2.isCrackClassification/KNN/dataset
2.isCrackClassification/SVM/dataset
3.crackLengthClassification/KNN/dataset
3.crackLengthClassification/SVM/dataset
1.shapeClassification/SVM/SVM_SVC/log
3.crackLengthClassification/KNN/KNN_auto/log
4.crackShapeClassification/KNN/dataset
1.shapeClassification/KNN/KNN_auto/log
3.crackLengthAndsizeClassification/KNN/dataset
2.isCrackClassification/KNN/KNN_auto/train1.txt
3.crackLengthAndsizeClassification/KNN/KNN_auto/log
1.shapeClassification/KNN/KNN_auto/KNN_shape_train3_check.ipynb
1.shapeClassification/SVM/SVM_SVC/KNN_shape_train3_check.ipynb
3.crackLengthAndsizeClassification/SVM/SVM_SVC/log
4.crackShapeClassification/KNN/dataset
2.isCrackClassification/KNN/KNN_auto/log
2.isCrackClassification/SVM/SVM_SVC/log
4.crackShapeClassification/KNN/KNN_auto/log
4.crackShapeClassification/SVM/SVM_SVC/log
featureExtract/data
featureExtract/learn/pyAudioAnalysis/pyAudioAnalysis-master.zip
learn/Pytorch-heart/dataset
learn/Pytorch-signal/dataset
4.crackShapeClassification/CNN/dataset
1.shapeClassification/KNN/KNN_auto/log
1.shapeClassification/SVM/SVM_SVC/log
2.isCrackClassification/KNN/KNN_auto/log
2.isCrackClassification/SVM/SVM_SVC/log
3.crackLengthClassification/KNN/KNN_auto/log
3.crackLengthAndsizeClassification/KNN/KNN_auto/log
3.crackLengthAndsizeClassification/SVM/SVM_SVC/log
4.crackShapeClassification/LTSM/dataset
learn
SUM
4.crackShapeClassification/CNN/CNN1D/*.weight
4.crackShapeClassification/CNN/CNN1D/*.bias
4.crackShapeClassification/CNN/CNN1D/onnx*
4.crackShapeClassification/CNN/CNN1D/*.onnx
4.crackShapeClassification/LTSM/LTSM/log
1.shapeClassification/KNN/KNN_ok/log
1.shapeClassification/SVM/SVM_ok/log
2.isCrackClassification/KNN_ok/log
2.isCrackClassification/SVM/SVM_ok/log
3.crackLengthAndsizeClassification/KNN/KNN_ok/log
3.crackLengthAndsizeClassification/SVM/SVM_ok/log
4.crackShapeClassification/CNN/CNN1D/CNN_ok/log
4.crackShapeClassification/CNN/CNN1D/CNN1D_edit/log
4.crackShapeClassification/KNN/KNN_ok/log
4.crackShapeClassification/LTSM/LSTM_ok/log
4.crackShapeClassification/LTSM/LTSM_edit/log
4.crackShapeClassification/SVM/SVM_ok/log
4.crackShapeClassification/CNN/CNN1D/CNN_ok/dataset
4.crackShapeClassification/LTSM/LSTM_ok/dataset
4.crackShapeClassification/CNN/CNN1D/LSTM
4.crackShapeClassification/KNN/KNN_ok/dataset
4.crackShapeClassification/SVM/SVM_ok/dataset
coreCode
crackLengthClassification
crackShapeClassification